certs
nginx/ssl

*.pem
*.crt
*.key

*.pyc
server/config.py
server/config.prod.py
server/.pycharm_helpers
server/.idea
server/pycharm
server/project
server/.vscode
server/sendgrid.env

web/.idea
web/.vscode